
.container-app{
  display: flex;
  align-items:  center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  padding-bottom: 5%;
  background-color: rgb(117, 7, 168);
  margin-top: 4%;
  border-radius: 12% 12% 0% 0%;
}
.title{
  color: aliceblue;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ask{
  color: aliceblue;
}

#container-button{
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  width: 30%;
}

#botao-certo{
  width: 100%;
  padding: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}


#botao-certo:hover{
  transition: .5s;
  background-color: rgb(195, 211, 224);
}

#botao-esquivar{
  width: 100%;
  margin-top: 50%;
  padding: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#botao-esquivar:hover{
  transition: .5s;
  background-color: rgb(195, 211, 224);
}


.botao-esquivar-1:focus{
  transform: translate(42px, 18px);

}


.botao-esquivar-2:focus{
  transform: translate(-42px, -18px);


}.botao-esquivar-3:focus{
  transform: translate(-32px, 38px);

}

.botao-esquivar-4:focus{
  transform: translate(-52px, 28px);

}
.botao-esquivar-5:focus{
  transform: translate(62px, -38px);

}

/*convite*/

.container-convit{
  display: flex;
  flex-direction: row;
  width: 60%;
  background: aliceblue;
  margin-top: 17%;
}

.parteOne{
  background: rgb(117, 7, 168);
  width: 50%;
  border: 1px;
  border-radius: 0% 20% 0% 0%;
  

}

.parteTwo{
  background: rgb(117, 7, 168);
  width: 50%;
  border-radius: 20% 0% 0% 0%;
}


/*icons*/
.material-icons{
  color: blueviolet;
}

#movie{
  color: black;
}
/*link*/
a{
  color: rgb(105, 100, 100);
}

a:hover{
  text-decoration: underline;
}

.fade{
  display: none;
  position: absolute;
  background: antiquewhite;
  width: 50%;
  height: 15%;
  text-align: center;
}

/*convite open*/

.convite-open{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background: antiquewhite;
  width: 50%;
  height: 15%;
  text-align: center;
}

.heat{
  display: flex;
  flex-direction: row;
  text-align: center;
}


