
.container-app{
  display: flex;
  align-items:  center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  padding-bottom: 10%;
  background-color: rgb(117, 7, 168);
}
.title{
  color: aliceblue;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ask{
  color: aliceblue;
}

#container-button{
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  width: 30%;
}

#botao-certo{
  width: 100%;
  padding: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#botao-certo:hover{
  transition: .5s;
  background-color: rgb(195, 211, 224);
}

#botao-esquivar{
  width: 100%;
  margin-top: 50%;
  padding: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#botao-esquivar:hover{
  transition: .5s;
  background-color: rgb(195, 211, 224);
}


.botao-esquivar-1:focus{
  transform: translate(42px, 18px);

}


.botao-esquivar-2:focus{
  transform: translate(-42px, -18px);


}.botao-esquivar-3:focus{
  transform: translate(-32px, 38px);

}

.botao-esquivar-4:focus{
  transform: translate(-52px, 28px);

}
.botao-esquivar-5:focus{
  transform: translate(62px, -38px);

}


